{% extends 'layout.html.twig' %}

{% block title %} All size {% endblock %}

{% block navbar %}{% include 'Admin/_adminnavbar.html.twig' %}{% endblock %}

{% block content %}
    <div class="col-1 back m-3">
        <a href="/admin/index/" class="text-reset"><span class="material-icons">keyboard_backspace</span></a>
    </div>
    <div class="container text-center">
        <h1 class="mb-3">SIZES</h1>
        <a href="/admin/addSize/" class="btn btn-secondary">ADD SIZE</a>
    </div>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">action</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for size in sizes %}
                    <tr>
                        <th scope="row">{{ size.id }}</th>
                        <td>{{ size.name }}</td>
                        <td><a href="/admin/editSize/{{ size.id }}" class="btn btn-outline-secondary">EDIT</a></td>
                        <td><a type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#delete{{ size.id }}">DELETE</a></td>
                    </tr>
                    <div class="modal fade" id="delete{{ size.id }}" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Are you sure you want to delete this?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">CANCEL</button>
                                    <a href="/admin/deleteSize/{{ size.id }}" class="btn btn-outline-dark">DELETE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer %}{% include 'Admin/_adminfooter.html.twig' %}{% endblock %}
