{% extends 'layout.html.twig' %}

{% block title %} Vintage Vibe {% endblock %}

{% block navbar %}{% include 'Layout/_navbarfront.html.twig' %}{% endblock %}

{% block content %}
<section class="cookiesbanner">
    <div class="modal fade" id="cookies" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">▼▼ Oh oh, there are cookies. ▼▼</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>We care about your data, and we'd love to use cookies to make your experience smooth'n'silky.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">No, thanks</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Okay! 🍪</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
{{ dump(session.cart) }}
</div>
<section class="homeheader">
    <section class="homepage picture">
        <img src="https://cdn.pixabay.com/photo/2016/06/27/07/30/elvis-presley-1482026_1280.jpg" alt="homepicture" class="headerimg">
    </section>
    <section class="homeabout text-center pb-3">
        <div class="hometriangle pb-3"><img src="/assets/images/LogoCOURT.png" alt="imagetriangle" class="headerimage"></div>
        <div><h1>VINTAGE VIBE</h1></div>
        <div class="fs-5"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel molestie justo.<br>Mauris nec eros sit amet diam condimentum tincidunt. Vestibulum a massa ligula. Aliquam feugiat congue velit.</p></div>
    </section>
    <section class="homeshop text-center pb-3 pt-4">
        <div><h1>OUR SHOP</h1></div>
        <div class="producthome row pt-3 pb-3">
                {% for i in 0..2 %}
                <div class="col-lg-4">
                    <div><a href="/home/showproduct/{{ products[i].id }}"><img src="{{ products[i].picture }}" width="50%" alt="product picture"></a></div>
                    <div>{{ products[i].title }}</div>
                    <div>{{ products[i].artist }}</div>
                </div>
                {% endfor %}
        </div>
        <a href="/home/shop/" class="text-reset text-decoration-none"><button class="btn btn-secondary mt-3 mb-4">SHOP ALL</button></a>
    </section>
    <section class="hometeam text-center pb-3 pt-4">
        <div><h1><a href="Home/team/" class="text-reset text-decoration-none">THE DREAM TEAM</a></h1></div>
        <div><a href="Home/team/" class="text-reset text-decoration-none"><img src="https://images.unsplash.com/photo-1499415479124-43c32433a620?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80" alt="team picture" class="mt-3"></a></div>
        <div class="fs-5 mt-3">Always present, passionate professionals, we will be happy to welcome you. Come and meet us!</div>
        <div><p>Dolor sit amet, consectetur adipiscing elit. Praesent vel molestie justo. Mauris nec eros sit amet diam condimentum tincidunt.<br>Vestibulum a massa ligula. Aliquam feugiat congue velit.</p></div>
    </section>
</section>
{% endblock %}

{% block footer %}{% include 'Layout/_footer.html.twig' %}{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        $('#cookies').modal('show')
    });
</script>
{% endblock %}