{% extends 'layout.html.twig' %}

{% block title %} Orders {% endblock %}

{% block navbar %}{% include 'Admin/_adminnavbar.html.twig' %}{% endblock %}

{% block content %}
<div class="col-1 back m-3">
  <a href="/admin/index/" class="text-reset"><span class="material-icons">keyboard_backspace</span></a>
</div>
<div class="container text-center">
    <h1 class="mb-3">ORDERS</h1>
    <div>
        <table class="table mt-5">
          <thead>
            <tr>
              <th scope="col">order reference</th>
              <th scope="col">user</th>
              <th scope="col">adress</th>
              <th scope="col">date</th>
              <th scope="col">total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
              {% for invoice in invoices %}
                <tr>
                  <td>{{ invoice.id }}</td>
                  <td>{{ invoice.u_firstname }} {{ invoice.u_lastname }}</td>
                  <td>{{ invoice.u_address }}</td>
                  <td>{{ invoice.created_at }}</td>
                  <td>{{ invoice.total }} €</td>
                  <td><a href="/admin/showOrder/{{ invoice.id }}" class="btn btn-outline-secondary">DETAIL</a></td>
                </tr>
              {% else %}
              <p>Ooops, there's no order here. Try to sell something.</p>
              {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}{% include 'Admin/_adminfooter.html.twig' %}{% endblock %}