<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">TITLE</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ product.title }}" required>
    </div>
    <div class="mb-3">
        <label for="artist" class="form-label">ARTIST</label>
        <input type="text" class="form-control" id="artist" name="artist" value="{{ product.artist }}">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">CATEGORY</label>
        <select class="form-select" name="category_id">
            {% if product is defined %}
            <option value="{{ product.category_id }}">{{ product.category_name}}</option>
            {% else %}
            <option selected> </option>
            {% endif %}
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="size" class="form-label">SIZE</label>
        <select class="form-select" name="size_id">
            {% if product is defined %}
            <option value="{{ product.size_id }}">{{ product.size_name }}</option>
            {% else %}
            <option selected> </option>
            {% endif %}
            {% for size in sizes %}
            <option value={{ size.id }}>{{ size.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">DESCRIPTION</label>
        <textarea class="form-control" id="description" rows="3" name="description">{{ product.description }}</textarea>
    </div>
    <div class="mb-3">
        <label for="picture" class="form-label">PICTURE</label>
        <input type="text" class="form-control" id="picture" name="picture" value="{{ product.picture }}" required>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">PRICE</label>
        <input type="text" class="form-control" id="price" name="price" value="{{ product.price }}" required>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">QUANTITY</label>
        <input type="text" class="form-control" id="quantity" name="quantity" value="{{ product.quantity }}" required>
    </div>
    {% if errors is not empty %}
    <div class="mt-3 alert alert-secondary alert-dismissible fade show">
        {% for error in errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="mb-3">
        <button type="submit" class="btn btn-secondary">VALIDATE</button>
    </div>
</form>
