<form class="formuContact" method="post" action="/home/contact/">


<div class="container-flex">
		<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
				{% if error.allFields is defined and  not empty %}
					<p class="p-2 alert-secondary" >
						{{error.allFields}}
					</p>
				{% endif %}
			</div>
		</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
				<input type="hidden" value="{{ contact.id }}" name="id">
				<label for="firstname">FIRSTNAME:</label>
			</div>
		</div>

	<div class="row my-2">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
		<input class="col-10 col-sm-10 col-md-10 col-lg-10" type="text" id="firstname" value="{{ contact.firstname }}" name="firstname"></br>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
	{% if error.firstname is defined and not empty %}
		<p class="p-2 alert-secondary">
		{{error.firstname}}
		</p>
	{% endif %}
		</div>
	</div>

	<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
				<label for="lastname">LASTNAME:</label><br>
			</div>
		</div>

	<div class="row my-2">
		<div class="col-12 p-2 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
			<input class="col-10 col-sm-10 col-md-10 col-lg-10" type="text" id="lastname" value="{{ contact.lastname }}" name="lastname"><br>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
			{% if error.lastname is defined and not empty %}
				<p class="p-2 alert-secondary">
				{{error.lastname}}
				</p>
			{% endif %}
		</div>
	</div>


	<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
			<label for="email">E-MAIL:</label><br>
			</div>
		</div>

	<div class="row my-2">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
	<input class="col-10 col-sm-10 col-md-10 col-lg-10" type="text" id="email" value="{{ contact.email }}" name="email"><br>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
	{% if error.email is defined and not empty %}
		<p class="p-2 alert-secondary">
			{{error.email}}
		</p>
	{% endif %}
		</div>
	</div>
	<div class="row my-2">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
	{% if error.emailNotOk is defined and not empty %}
		<p class="p-2 alert-secondary">
			{{error.emailNotOk}}
		</p>
	{% endif %}
		</div>
	</div>
	<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
			<label for="message">MESSAGE:</label>
			</div>
		</div>
	<div class="row my-2">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12  d-flex justify-content-center">
		<TEXTAREA class="col-10 col-sm-10 col-md-10 col-lg-10 p-5" type="text" id="message" value="{{ contact.message }}" name="message"></TEXTAREA>
		</div>
	</div>
	<div class="row my-2">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12  d-flex justify-content-center">
	{% if error.message is defined and not empty %}
		<p class="p-2 alert-secondary">
			{{error.message}}
		</p>
	{% endif %}
		</div>
	</div>
	<div class="my-4 col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
		<button class="btn btn-secondary mt-3 mb-4" type="submit">VALIDATE</button>
	</div>
</div>
</form>
